# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.flutter_tool/
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db